.ordini-container {
    height: 125px;
    width: 40%;
    display: inline-block;
    margin: 25px 4%;
    border-radius: 20px;
    font-family: Lato;
    color: black;
}

.ordine-consegnato {
    background-color: #DCB000;
}

.ordine-non-consegnato {
    background-color: #FFCB00;
}

.ordini-container>.indirizzo {
    position: relative;
    top: 10px;
    left: 10px;
    width: 90%;
    font-size: 16px;
}

.ordini-container>.indirizzo>span {
    color: #A80004;
    font-size: 18px;
    font-weight: bold;
}

.ordini-container>.data-ordine {
    position: relative;
    top: 10px;
    left: 10px;
    font-size: 16px;
    width: 90%;
}

.ordini-container>.data-ordine>span {
    font-size: 20px;
    color: #FD0006;
}

.ordini-container>.data {
    position: relative;
    top: 10px;
    left: 10px;
    width: 90%;
    font-size: 16px;
}

.ordini-container>.data>span {
    font-size: 20px;
    color: #FE1C22;
}

.ordini-container>.pagamento {
    position: relative;
    top: -15px;
    left: 40%;
    width: 50px;
}

.ordini-container>.totale {
    position: relative;
    top: 10px;
    left: 10px;
}

.ordini-container>.carta {
    position: relative;
    top: -60px;
    left: 60%;
    width: 140px;
}

.ordini-container>.totale>span {
    font-weight: bold;
    font-size: 30px;
    color: #2104C3;
}

@media screen and (min-width: 0px) and (max-width: 700px) {
    .ordini-container {
        width: 85%;
        margin: 25px 7.5%;
        height: 135px;
    }
}