.ordini-container {
    height: 150px;
    width: 295px;
    margin: 20px auto;
    border-radius: 20px;
    font-family: Lato;
    color: black;
}

.ordini-container p {
    display: inline-table;
}

.ordine-consegnato {
    background-color: #DCB000;
}

.ordine-non-consegnato {
    background-color: #FFCB00;
}

.ordini-container>.indirizzo {
    font-size: 16px;
    padding-left: 30px;
    padding-top: 10px;
    height: 28px !important;
    width: 100% !important;
    overflow: hidden !important;
}

.ordini-container>.indirizzo>p {
    display: unset;
    color: #A80004;
    font-size: 18px;
    font-weight: bold;
    word-break: break-all !important;
    white-space: normal !important;
}

.ordini-container>.data-ordine {
    font-size: 16px;
    padding-left: 30px;
    padding-top: 5px;
    width: 100% !important;
    overflow: hidden !important;
}

.ordini-container>.data-ordine>p {
    font-size: 20px;
    color: #2104C3;
}

.ordini-container>.data {
    font-size: 16px;
    padding-left: 30px;
    padding-top: 5px;
    width: 100% !important;
    overflow: hidden !important;
}

.ordini-container>.data>p {
    font-size: 20px;
    color: #5034E8;
}

.ordini-container>.totale {
    padding-left: 30px;
    width: 210px;
    margin-right: 0!important;
    display: inline-table !important;
    padding-top: 20px;
    font-size: 22px;
}

.ordini-container>.totale>p {
    font-weight: bold;
    font-size: 30px;
    color: #2104C3;
    margin-right: 0;
}

.ordini-container>.pagamento {
    width: 50px;
    padding-left: 15px;
    display: inline-table !important;
}

.ordini-container hr{
    border-radius: 10px;
    background-color: black;
    margin: 2px 0px;
    height: 2px;
    width: 90%;
    margin-left: 3%;
}