    .product-container {
        width: 50%;
        height: 250px;
        margin: 10px 25%;
        background-color: aquamarine;
        border-radius: 50px;
    }
    
    .product-container>.nome-prodotto {
        position: relative;
        top: 10px;
        left: 25px;
        font-size: 22px;
        font-weight: bold;
        width: 50%;
    }
    
    .product-container>.immagine {
        position: relative;
        top: 10px;
        left: 25px;
        width: 156px;
        height: 156px;
    }
    
    .product-container>.prezzo {
        position: relative;
        top: -160px;
        left: 50px;
        font-size: 24px;
        font-weight: bold;
        width: 50%;
    }
    
    .product-container>.giacenza {
        position: relative;
        top: -176px;
        left: 60%;
        width: 50%;
    }
    
    .product-container>.giacenza>span {
        font-size: 32px;
        color: #140375;
        font-weight: bold;
        margin: 0;
        padding: 0;
        width: 50%;
    }
    
    .product-container>.descrizione {
        position: relative;
        top: -166px;
        left: 35%;
        width: 150px;
        font-size: 15px;
        height: 150px;
        overflow-y: hidden;
        width: 50%;
    }
    
    .product-container>.acquista {
        position: relative;
        top: -210px;
        left: 40%;
        width: 50%;
    }
    
    .product-container>.dettaglio {
        position: relative;
        top: -210px;
        left: 70%;
        font-size: 20px;
        width: 50%;
    }
    
    @media screen and (min-width: 0px) and (max-width: 700px) {
        .product-container {
            width: 90%;
            margin: 10px 5%;
        }
    }