.product-container {
    width: 40%;
    height: 250px;
    margin: 10px 4%;
    border-radius: 50px;
    display: inline-block;
    background-color: #0CF500;
    color: black;
}

.product-container>.nome-prodotto {
    position: relative;
    top: 20px;
    left: 25px;
    font-size: 32px;
    font-weight: bold;
    width: 156px;
    height: 50px;
}

.product-container>.immagine {
    position: relative;
    top: 10px;
    left: 25px;
    width: 106px;
    height: 106px;
}

.product-container>.giacenza {
    position: relative;
    top: -136px;
    left: 55%;
    width: 40%;
    height: 50px;
}

.product-container>.prezzo {
    position: relative;
    top: -140px;
    left: 45%;
    font-size: 32px;
    font-weight: bold;
    width: 50%;
    height: 50px;
}

.product-container>.giacenza>span {
    font-size: 32px;
    color: #140375;
    font-weight: bold;
    margin: 0;
    padding: 0;
    width: 50%;
    height: 50px;
}

.product-container>.acquista {
    position: relative;
    top: -140px;
    left: 45%;
    width: 50%;
    height: 50px;
}

.product-container>.dettaglio {
    position: relative;
    top: -140px;
    left: 45%;
    width: 50%;
    height: 50px;
}

@media screen and (min-width: 0px) and (max-width: 800px) {
    .product-container {
        width: 90%;
        margin: 10px 5%;
        display: block;
        height: 196px;
    }
    .product-container>.immagine>img {
        width: 96px;
        height: 96px;
    }
}

.product-dtl-container {
    width: 80%;
    height: 80%;
    margin: 20px 10%;
}

.product-dtl-container> img{
    margin-left: 5% !important;
}
.product-dtl-container>.nome-prodotto {
    font-size: 32px;
}

.product-dtl-container>.immagine {
    width: 80%;
    margin: 20px 10%;
}

.product-dtl-container>.categoria {
    font-size: 22px;
}

.product-dtl-container>.categoria>span {
    font-size: 32px;
}

strong{
    font-weight: bold;
}

.product-dtl-container>.descrizione>p{
    font-size: 16px;
    width: 100%;
    overflow: hidden;
}

.product-dtl-container>.prezzo {    
    font-size: 24px;
}

.product-dtl-container>.prezzo>span {
    color: rgb(0, 13, 196);
    font-size: 28px;
}

.product-dtl-container>.magazzino {
    font-size: 26px;
}

.product-dtl-container>.magazzino>span {
    color: rgb(102, 255, 0);
    font-size: 26px;
}