table.tbl {
    font-size: 18px;
    color: black;
    border: 2px solid #000 !important;
}

table.tbl tr{
    border: 1px solid #000 !important;
}

table.tbl th, table.tbl td {
    border: 0 solid #000 !important;
    text-align: center !important;
}

table.tbl tr:nth-child(odd){
    background-color: white;
}

table.tbl thead, table.tbl tr:last-child{
    font-size: 22px;
    font-weight: bold;
}

table.tbl-green-1 thead, table.tbl-green-1 tr:last-child{
    background-color:  #00cc66 !important;
    font-weight: unset !important;
}

table.tbl-green-1 tr:nth-child(even){
    background-color: #ccff99;
}

table.tbl-orange-1 thead, table.tbl-orange-1 tr:last-child{
    background-color:  #DA0006 !important;
}

table.tbl-orange-1 tr:nth-child(even){
    background-color:  #FFCB00;
}

table.tbl-blu-1 thead, table.tbl-blu-1 tr:last-child{
    background-color:  #6699ff !important;
}

table.tbl-blu-1 tr:nth-child(even){
    background-color:  #ccddff;
}

table.tbl-darkblu-1 thead, table.tbl-darkblu-1 tr:last-child{
    background-color:  #0104ce !important;
    color: white !important;
}

table.tbl-darkblu-1 tr:nth-child(even){
    background-color:  #55a9f7;
}

.reset-row {
    background-color: white;
}

tr.reset-row td {
    background-color: white !important;
    border: 0 solid #000 !important;
}

@media screen and (min-width: 0px) and (max-width: 756px) {
    table.tbl thead{
        display: none;
    }
    
    table.tbl tr, table.tbl th, table.tbl td {
        width: 100%;
        display: inline-table;
    }
}